* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial,sans-serif;
}

.web-head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 2px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dlogo {
padding-left: 32px;
  cursor: pointer;
}

.language-site {
border: transparent;
background: transparent;
color: rgb(182, 177, 177);
font-weight: 700;
font-size: 1rem;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 988px;
  gap: 80px;
  padding: 48px 0;
}

