* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial,sans-serif;
}

.web-head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 2px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dlogo {
padding-left: min(2em, 10%);
  cursor: pointer;
}

.dlogo > img {
  max-height: 50px;
  width: auto;
}

.language-site {
border: transparent;
background: transparent;
color: rgb(182, 177, 177);
font-weight: 700;
font-size: 1rem;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 950px;
  gap: 80px;
  padding: 48px 0 20px 48px;
  margin: 80px 56px 80px 98px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login > h1 {
  font-size: 1.7rem;
  color: rgb(75, 75, 75);
text-align: center;
}

.get-started {
  background-color: rgb(88, 204, 2);
  color: white;
  font-weight: bolder;
  font-size: 100%;
  margin-top: 20px;
  width: 25vw;
  height: 8vh;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 12px;
  border: transparent;
  border-bottom: 4px solid rgb(73, 167, 1);
  border-top: 4px solid rgb(88, 204, 2);

}

.get-started:active {
  border-top: 2px solid white;
  border-bottom: 4px solid rgb(88, 204, 2);
}

.login-button {
  background-color: rgb(255, 255, 255);
  color: rgb(4, 180, 180);
  font-weight: bolder;
  font-size: 100%;
  width: 25vw;
  height: 8vh;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 12px;
  border: 2px solid rgb(182, 177, 177);
  border-bottom: 4px solid rgb(182, 177, 177);
}

.login-button:active {
  height: 7.7vh;
  border-bottom: 2px solid rgb(182, 177, 177);
}

.main-count {
  width: 1100;
  height: 80px;
  border-top: 2px solid rgb(219, 219, 219);
  border-bottom: 2px solid rgb(219, 219, 219);
  padding: 0 40px;
}

.mas-count {
  height: 80px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items:normal;
  justify-content: space-around;
}

.countries {
  display: flex;
  gap: 20px; /* optional spacing between items */
  list-style: none;
  padding: 0;
}

.countries li {
  display: flex;
  align-items: center;
  justify-content: center;

}

.countries li a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.countries img {
  width: 36px;
  height: 20px;
}

.countries span {
  color: rgb(145, 144, 144);
  font-weight: bolder;
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.s1-text {
  flex: 1 1 40%;
  max-width: 600px;
  min-width: 300px;
}

.s1-text h2 {
  font-size: min(6vw, 3rem);
  font-weight: 800;
  margin-bottom: 1rem;
  color: rgb(88, 204, 2);
}

.s1-text p {
  font-size: min(4vw, 1.1rem);
  padding-right: 30px;
  color: rgb(145, 144, 144);
}

.s1-text p a {
  text-decoration: none;
  color: rgb(4, 180, 180);
}

.s1-img {
  flex: 1 1 40%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.s1-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.s2-text {
  flex: 1 1 40%;
  max-width: 600px;
  min-width: 300px;
}

.s2-text h2 {
  font-size: min(6vw, 3rem);
  font-weight: 800;
  margin-bottom: 1rem;
  color: rgb(88, 204, 2);
}

.s2-text p {
  font-size: min(4vw, 1.1rem);
  padding-right: 30px;
  color: rgb(145, 144, 144);
}

.s2-img {
  flex: 1 1 40%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.s2-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
  gap: 5vw;
  flex-wrap: wrap;
}

.s3-text {
  flex: 1 1 40%;
  max-width: 600px;
  min-width: 300px;
}

.s3-text h2 {
  font-size: min(6vw, 3rem);
  font-weight: 800;
  margin-bottom: 1rem;
  color: rgb(88, 204, 2);
}

